.App {
  text-align: center;
  background-color: #e4edf7;
}

.App-logo {
  pointer-events: none;
  padding: 1rem;
}

.App-header {
  background-color: #052849;;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: white;
}

.product-container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  height: 100%;
}
.right-container{
  display: grid;
  background-color: #e4edf7;
  grid-template-rows: 1fr 3fr;
  gap: 1rem;
  margin-right: 1rem;
  
}
.sales-container{
  min-height: 10rem;
  padding: 2rem 0rem;
  canvas{
    background-color: white;
  }
}